/* Navigation Bar Background Color */
#nav {
  background: #fafbfc;
  height: 72px;
}

/* Navigation Bar Button CSS */
.nav-button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.nav-button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.nav-button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.nav-button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.nav-button:focus {
  outline: 1px transparent;
}

.nav-button:before {
  display: none;
}

.nav-button:-webkit-details-marker {
  display: none;
}

.custom-modal .modal-dialog {
  max-width: 800px; /* Adjust the width as needed */
}

.custom-modal .modal-content {
  height: 600px; /* Adjust the height as needed */
}
.custom-modal-header {
  color: #008a45;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.custom-input-search {
  border: none;
  background-color: #f2f2f2;
  border-radius: 0 21px 21px 0;
}

.button-signup-group {
  border-radius: 2px;
  border: 0.6px solid #d9d9db;
  background: #fff;
}

.custom-btn {
  color: #2e2e2e;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search {
  border: none;
  border-radius: 21px 0 0 21px;
  background-color: #f2f2f2;
  padding-left: 14px;
}
